.alert {
    padding: 5px 10px;
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Scroller */
#kt_app_body::-webkit-scrollbar-track,
.custom_scroller::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    background-color: #0a5f33;
}

#kt_app_body::-webkit-scrollbar,
.custom_scroller::-webkit-scrollbar {
    width: 12px;
    background-color: #0a5f33;
}

#kt_app_body::-webkit-scrollbar-thumb,
.custom_scroller::-webkit-scrollbar-thumb {
    border-radius: 7px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #db5623;
    background: linear-gradient(180deg, #db5623 50%, #ff8555 100%);
}

.breadcrumb .breadcrumb-item,
.breadcrumb .breadcrumb-item i {
    font-size: 1.1rem;
}

.menu-icon i {
    font-size: 1.25rem;
    color: white !important;
}

.app-sidebar-wrapper .menu .menu-item .menu-link .menu-title {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.app-sidebar-wrapper .menu .menu-item .menu-link .menu-title:hover {
    color: #009ef7 !important;
}

.menu-link.active .menu-icon i,
.menu-link.active .menu-title {
    color: #009ef7 !important;
}

table thead tr th {
    font-weight: bold !important;
    font-size: 1.1rem !important;
    letter-spacing: 0.5px;
}

.ml-2 {
    margin-left: 0.5rem !important;
}

.mr-2 {
    margin-right: 0.5rem !important;
}

.card-head {
    padding: 25px 0;
}

.form-group {
    margin-bottom: 25px;
    padding: 0 10px;
}

.btn-icon i {
    color: black !important;
}

.btn-icon:hover i {
    color: white !important;
}

.border {
    border: 1px solid #cecece !important;
}

.fs-paragraph {
    font-size: medium;
}

.user-info-card {
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.user-info-card:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.user-info-item {
    padding: 10px 0;
    border-bottom: 1px solid #e9ecef;
}

.user-info-item:last-child {
    border-bottom: none;
}

.text-right {
    text-align: right;
}

.indicator-label-custom {
    background-color: rgba(219, 86, 35, 0.5);
    border: #db5623 2px solid !important;
    color: white;
}

.indicator-label-custom:hover {
    background-color: #db5623;
    color: white;
}

.orange-color {
    color: #db5623 !important;
}

.link-primary.orange-color:hover {
    color: #9c340b !important;
}

.login-card-custom {
    border: #db5623 3px solid !important;
    box-shadow: #1b1b1d 0px 0px 15px !important;
}

.image-wrapper {
    display: inline-block;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    transition: filter 0.3s;
}

.image-wrapper:hover {
    filter: brightness(50%);
}

.delete-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    color: white !important;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    font: 2rem bolder !important;
}

.image-wrapper:hover .delete-overlay {
    opacity: 1;
}
